<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>一个更丑的登录页面</title>
</head>
<body>
<form method="post" action="/login">
    <table>
        <tr>
            <td>用户名：</td>
            <td><input name="username" placeholder="请输入用户名" type="text"></td>
        </tr>
        <tr>
            <td>密码：</td>
            <td><input name="password" placeholder="请输入密码" type="password"></td>
        </tr>
        <tr>
            <td colspan="2"><input value="登录" type="submit"></td>
        </tr>
    </table>



</form>
</body>
</html>